@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  box-sizing: border-box;
}

h1 {
  font-family: "roboto 700", sans-serif;
}

h2 {
  font-family: "roboto 300", sans-serif;
}

h3 {
  font-family: "shrikland", sans-serif;
}

p {
  font-family: "roboto 500", sans-serif;
}

header {
  display: flex;
  position: relative;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  text-align: center;
  padding: 14px 0 13px;
}
header img {
  width: 53%;
}