@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  box-sizing: border-box;
}

h1 {
  font-family: "roboto", sans-serif;
  font-weight: 700;
}

h2 {
  font-family: "roboto", sans-serif;
  font-weight: 300;
}

h3 {
  font-family: "shrikhand", sans-serif;
  font-weight: 400;
  font-style: italic;
}

p {
  font-family: "roboto", sans-serif;
  font-weight: 500;
}

.button-check {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -86px;
  background-color: #99E2D0;
  transition: all 1s ease-out;
  width: 86px;
  border-radius: 0 15px 15px 0;
}

.menu-info:hover .button-check {
  margin-right: 0;
}

.fa-circle-check {
  color: white;
  font-size: 20px;
}

.fa-heart {
  position: absolute;
  font-size: 22px;
}

.menu-name .fa-heart {
  right: 41px;
  top: 40px;
}
.menu-name .fa-solid {
  color: transparent;
  background-image: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  -webkit-background-clip: text;
  background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
}
.menu-name .fa-solid:hover {
  opacity: 1;
}

.card-text .fa-heart {
  right: 25px;
  top: 23px;
}
.card-text .fa-solid {
  color: transparent;
  background-image: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  -webkit-background-clip: text;
  background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
}
.card-text .fa-solid:hover {
  opacity: 1;
}

button {
  width: 218px;
  height: 50px;
  font-family: "roboto";
  font-weight: 500;
  font-size: 16px;
  color: white;
  border-radius: 25px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  border: none;
  transition-duration: 0.3s;
}

button:hover {
  background-image: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3490196078);
}

.menu button {
  width: 186px;
}

.menu button {
  margin: auto;
  padding: 0;
  margin-bottom: 40px;
}

.reservation button {
  margin-top: 27px;
  margin-bottom: 57px;
  cursor: pointer;
}

.new {
  position: absolute;
  margin-top: 13px;
  right: 30px;
  padding: 7px 9px 6px 9px;
  background-color: #99e2d0;
  color: #008766;
  font-family: "roboto";
  font-weight: 500;
  font-size: 14px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  border-radius: 2px;
}

footer {
  width: 100%;
  background-color: #353535;
  padding: 22px 0 22px 25px;
}

.footer_logo {
  padding-bottom: 16px;
}
.footer_logo h3 {
  color: white;
  font-size: 18px;
}

.footer-list ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
.footer-list ul a {
  color: white;
  text-decoration: none;
  display: flex;
  padding-bottom: 7px;
}
.footer-list ul i {
  background-color: #353535;
  margin-right: 11px;
}
.footer-list ul .second-footer-list-without-icons p {
  font-family: "roboto";
  font-weight: 400;
}

header {
  display: flex;
  position: relative;
  background: white;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  text-align: center;
  padding: 14px 0 13px;
}
header img {
  width: 12rem;
}

.logo {
  background: white;
}

.location {
  display: flex;
  justify-content: center;
  background: #EAEAEA;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  padding: 15px 15px;
  gap: 17px;
}
.location p {
  background-color: #EAEAEA;
}

.fa-solid-fa-location-dot {
  background-color: #EAEAEA;
}

.reservation {
  background-color: #F3F3F3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-reservation {
  text-align: center;
  line-height: 28px;
  font-size: 24px;
  padding: 39px 0 18px;
}

.discover-restaurants {
  text-align: center;
  font-size: 18px;
}

.working {
  width: 100%;
  padding: 0 20px;
  background: white;
  counter-reset: my-sec-counter;
}
.working ol {
  padding-left: 20px;
  background: white;
  padding-bottom: 68px;
}
.working h1 {
  padding: 48px 0 26px 0;
}

.working li {
  height: 72px;
  padding: 28px 0;
  flex-grow: 1;
  background: #f6f6f6;
  margin-bottom: 25px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  list-style-type: none;
  display: flex;
  align-items: center;
}
.working li .fa-solid {
  margin-right: 15px;
  font-size: 18px;
  background: #f6f6f6;
  color: #7e7e7e;
}
.working li::before {
  content: counter(my-sec-counter);
  counter-increment: my-sec-counter;
  color: white;
  background: #9356dc;
  font-family: "roboto";
  font-weight: 500;
  font-size: 14px;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;
  left: -0.6rem;
}
.working li i.fa-solid.fa-store {
  color: #9356DC;
}
.working li p {
  font-weight: bold;
}

.restaurants {
  padding: 54px 18px 66px 18px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  gap: 18px;
}

.cards {
  animation: slow-menu 3s;
  animation-fill-mode: both;
}
.cards:nth-child(1) {
  animation-delay: 300ms;
}
.cards:nth-child(2) {
  animation-delay: 600ms;
}
.cards:nth-child(3) {
  animation-delay: 900ms;
}
.cards:nth-child(4) {
  animation-delay: 1200ms;
}
.cards:nth-child(5) {
  animation-delay: 1500ms;
}
.cards:nth-child(6) {
  animation-delay: 1800ms;
}
.cards:nth-child(7) {
  animation-delay: 2100ms;
}
.cards:nth-child(8) {
  animation-delay: 2400ms;
}
.cards:nth-child(9) {
  animation-delay: 2700ms;
}
.cards:nth-child(10) {
  animation-delay: 3000ms;
}
.cards .card {
  height: 251px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 15px;
  margin-bottom: 18px;
}
.cards .card .img-container {
  height: 174px;
}
.cards .card .img-container img {
  position: relative;
  top: -57px;
  left: -3px;
  height: 231px;
  object-fit: cover;
  width: 100%;
}
.cards .card .card-text {
  background-color: white;
  height: 77px;
  padding-top: 16px;
  padding-left: 16px;
  position: relative;
}
.cards .card .card-text h1 {
  font-size: 18px;
}
.cards .card .card-text h2 {
  font-size: 17px;
}

.card a {
  text-decoration: none;
  color: black;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 17px;
}

.arrow-back {
  position: absolute;
  left: 17px;
  top: 24px;
}

i.fa-solid.fa-arrow-left {
  font-size: 1.2rem;
  color: black;
}

.background-image img {
  width: 100%;
  height: 275px;
  object-fit: cover;
}

.card-title {
  font-family: "shrikhand", sans-serif;
  font-weight: 400;
  font-size: 28px;
  padding: 32px 24px 40px 17px;
}

.menu {
  background: #f3f3f3;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: -52px;
  border-radius: 40px 40px 0 0;
}
.menu-name {
  display: flex;
  align-items: center;
  position: relative;
}
.menu-container {
  display: flex;
  flex-direction: column;
  margin: 0 13px;
}
.menu-title {
  width: 40px;
  padding-bottom: 12px;
  font-size: 16px;
  border-bottom: 3px solid #f3f3f3;
}
.menu-title:hover {
  border-bottom: 3px solid #99E2D0;
  width: 40px;
}
.menu-card {
  display: grid;
  margin: 12px 0 40px;
  gap: 12px;
}
.menu-info {
  background: white;
  border-radius: 25px;
  display: flex;
  overflow: hidden;
  box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1019607843);
  animation: slow-menu 3s;
  animation-fill-mode: both;
}
.menu-info:nth-child(1) {
  animation-delay: 300ms;
}
.menu-info:nth-child(2) {
  animation-delay: 600ms;
}
.menu-info:nth-child(3) {
  animation-delay: 900ms;
}
.menu-info:nth-child(4) {
  animation-delay: 1200ms;
}
.menu-info:nth-child(5) {
  animation-delay: 1500ms;
}
.menu-info:nth-child(6) {
  animation-delay: 1800ms;
}
.menu-info:nth-child(7) {
  animation-delay: 2100ms;
}
.menu-info:nth-child(8) {
  animation-delay: 2400ms;
}
.menu-info:nth-child(9) {
  animation-delay: 2700ms;
}
.menu-info:nth-child(10) {
  animation-delay: 3000ms;
}
.menu-text {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 5px;
  padding: 13px 5px 13px 15px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu-text p {
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-plate {
  font-size: 18px;
}
.menu-subtitle {
  font-family: "roboto", sans-serif;
  font-weight: 300;
  font-size: 15px;
}
.menu-price {
  display: flex;
  justify-content: flex-end;
  padding: 13px 13px 13px 5px;
  align-items: end;
  font-family: "roboto";
  font-weight: 700;
  font-size: 15px;
}

@keyframes slow-menu {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(1);
  }
}
@keyframes loader-background {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader {
  position: fixed;
  height: 100%;
  background: #fff;
  inset: 0;
  opacity: 0.9;
  z-index: 1;
  display: grid;
  place-items: center;
  animation: loader-background 2s 2s;
  animation-fill-mode: forwards;
}

.fa-arrows-spin {
  color: #ff79DA;
  animation: rotate 2s linear infinite;
}

@media screen and (min-width: 1024px) {
  header {
    padding: 30px 0 31px;
  }
  header img {
    width: 12.5rem;
  }
  .menu-reservation {
    padding: 30px 0 18px;
  }
  .menu-reservation br {
    display: none;
  }
  .discover-restaurants br {
    display: none;
  }
  button {
    width: 218px;
  }
  .working {
    padding: 0;
  }
  .working h1 {
    padding: 50px 0 26px 180px;
  }
  .working ol {
    display: flex;
    padding: 0 207px 50px 180px;
    gap: 24px;
  }
  .working li {
    margin: 0;
  }
  .working li p {
    white-space: normal;
    padding-right: 15px;
  }
  .restaurants {
    padding: 56px 180px 30px 180px;
  }
  .menu-restaurant {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px 100px;
  }
  footer {
    padding: 0;
  }
  .first-footer-list {
    display: flex;
    gap: 7px;
  }
  .second-footer-list {
    display: flex;
    padding-left: 22px;
  }
  .footer-list ul {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-right: 56px;
  }
  .footer-list ul .second-footer-list-without-icons p {
    width: 130px;
  }
  .noicons {
    margin-left: 20px;
  }
  .footer_container {
    display: flex;
    flex-direction: row-reverse;
    padding: 0;
  }
  .footer_logo {
    flex-direction: row;
    display: flex;
    padding: 0;
    width: 139px;
    margin: 57px 25px 30px 16px;
  }
  .footer-list {
    display: flex;
    gap: 7px;
    margin: 64px 0 30px;
  }
  .arrow-back {
    top: 40px;
    margin-left: 17px;
  }
  .background-image img {
    height: 383px;
  }
  .card-title {
    padding: 0;
  }
  .heart {
    position: relative;
    left: 55px;
    bottom: 50px;
  }
  .menu {
    width: 85%;
    margin-right: auto;
    margin-left: auto;
    margin-top: -35px;
  }
  .menu-name {
    justify-content: center;
    padding: 51px 0 40px;
    gap: 24px;
  }
  .menu-container {
    width: 634px;
    margin-right: auto;
    margin-left: auto;
  }
  .menu-title {
    margin: 0;
  }
  .menu-card {
    max-width: 100%;
  }
}