@use "./base/reset";
@use "./base/typographie";
@use "./buttons/check";
@use "./buttons/heart";
@use "./buttons/main";
@use "./buttons/new";
@use "./layout/footer";
@use "./layout/header";
@use "./layout/location";
@use "./layout/reservation";
@use "./layout/working";
@use "./layout/restaurants";
@use "./pages-restaurants/menu-header";
@use "./pages-restaurants/menu-restaurant-la-palette.scss";
@use "./base/animations";

@media screen and (min-width:1024px) {

    header{
        padding: 30px 0 31px;
        & img {
            width: 12.5rem;
        }
    }



    

    .menu-reservation{
        padding: 30px 0 18px;
        br{
            display: none;        
    }
}

    .discover-restaurants br{
        display: none;
        
    }

    button{
        width: 218px;
    }

    .working{
        padding: 0;
        & h1{
            padding:50px 0 26px 180px;
        }
    }

    .working ol{
        display: flex;
        padding: 0 207px 50px 180px;
        gap:24px;
    }
    
    .working li{
        width: 335px;
        margin:0;
    }
    
    .restaurants{
        padding: 56px 180px 30px 180px;
    }

    .menu-restaurant{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px 100px;

    }

    footer{
        padding: 0;
    }

    .first-footer-list{
        display: flex;
        gap: 7px;
    }

    .second-footer-list{
        display: flex;
        padding-left: 22px;
    }
    
    .footer-list ul{
        display: flex;
        flex-direction: row;
        padding: 0;
        & .second-footer-list-without-icons p{
            width: 130px;
        }
        
    }
    .footer_container{
        display: flex;
        flex-direction: row-reverse;        
        padding: 0;
    }
    .footer_logo{
        flex-direction: row;
        display: flex;        
        padding: 0;
        width: 139px;
        margin: 57px 25px 30px 16px;
    }

    .footer-list{
        display: flex;
        gap: 7px;
        
        margin: 64px 0 30px;

    }

    .arrow-back{
        top:40px;
    }

    .background-image img{
        height: 383px;
    }

    .card-title{
        padding: 0;
    }

    .menu{
        width: 85%;
        margin-right: auto;
        margin-left: auto;
        margin-top: -35px;
        &-name{
            justify-content: center;
            padding: 51px 0 40px;
            gap: 24px;
            .fa-heart{
                position: revert;
            }
        }
        &-container{
            width: 634px;
            margin-right: auto;
            margin-left: auto;            
        }
        &-title{
            margin:0;
        }
        &-card{
            max-width: 100%;
        }
    }

    
    
}
















