@use "./base/reset";
@use "./base/typographie";
@use "./layout/header";
@use "./layout/location";
@use "./layout/reservation";
@use "./buttons/explorebutton";
@use "./layout/working";
@use "./layout/restaurants";
@use "./buttons/heart";
@use "./buttons/new";
@use "./layout/footer";
@use "./menu-la-palette-du-goût/menu-header";

.background-image img{
    width: 100%;
    height: 17.2rem;
    object-fit: cover;
}

.menu-container{
    display: flex;
    flex-direction: column;
    margin:0 13px;
    
}

.menu{
    background: #f3f3f3;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: -32px;
    border-radius: 15px;
    .menu-name{
        display: flex;
        align-items: center;
        position: relative;
        .card-title{
            font-family: "shrikhand", sans-serif;
            font-weight: 400;
            font-size: 28px;
            padding: 32px 0 40px 17px;
        }
        
    }
    .menu-title{
        width: 40px;
        margin:0 13px 12px;
        font-size:16px;
        border-bottom: 3px solid #f3f3f3;
        &:hover{
            border-bottom: 3px solid #99E2D0;
            width:40px;
        }
    }  
    .menu-card{
        
        display: grid;
        margin-bottom:40px;
        gap: 12px;
        
       
        .menu-info{
            background: white;
            border-radius: 25px;
            display: flex;   
            overflow: hidden; 
            box-shadow: 0px 4.01px 15.04px 0px #0000001A;
        
            .menu-text{
                display: flex;
                flex-direction: column;
                width: 100%;
                gap: 5px;
                padding: 13px 5px 13px 15px;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
         p{
            
            font-size: 18px;
        }
        .menu-subtitle{
            font-family: "roboto", sans-serif;
            font-weight: 300;
            font-size: 15px;  
            overflow: hidden;
            text-overflow: ellipsis;      
        }
        .menu-price{
            display: flex;
            justify-content: flex-end;
            padding: 13px 13px 13px 5px ;
            align-items: end;
            font-family: "roboto";
            font-weight: 700;
            font-size: 15px;
            
        }
    }
    
    
}

.button-check{
    display: flex;    
    align-items: center;
    margin-right:-16px;
    width:16px;
}


.menu-info:hover .button-check{
    width: 86px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #99E2D0;
    margin-right: 0;
    transition: all 1s ease-out;
    
    border-radius: 0 15px 15px 0;
}

.fa-circle-check{
    color: white;
    font-size: 20px;
}

.menu-text p{
    overflow: hidden;
    text-overflow: ellipsis;
}













