footer {
    width: 100%;
    background-color: #353535;
    padding: 22px 0 22px 25px;
    margin-top: 66px;
    .footer_logo {
      padding-bottom: 16px;
      h3 {
        color: white;
        font-size: 18px;
      }
    }
  }
  
  .footer-list ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 7px;
    a {
      color: white;
      text-decoration: none;
      display: flex;
    }
    i {
      background-color: #353535;
      width: 11px;
      margin-right: 22px;
    }
  .noicons p{
    font-family: "roboto";
    font-weight: 400;
  }
  }

  