.location{
    display: flex;
    justify-content: center;
    background: #EAEAEA;
    box-shadow: 0px 4px 4px 0px #00000040;
    padding: 15px 15px;
    gap: 17px;
         p{
        background-color: #EAEAEA;
    }
}


.fa-solid-fa-location-dot{
    background-color: #EAEAEA;
}