.reservation{
    background-color: #F3F3F3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-reservation {
    text-align: center;
    line-height: 28px;
    font-size: 24px;
    padding: 39px 0 18px;
}

.discover-restaurants{
    text-align: center;
    font-size: 18px;
}