.card-text i {
    position: absolute;
    right: 25px;
    top: 23px;
    font-size: 22px;
  }
  
   i.fa-solid.fa-heart{
    color: transparent;
    background-image: linear-gradient(
      193.33deg,
      #9356dc -11.44%,
      #ff79da 123.93%);
    -webkit-background-clip: text;
    background-clip: text;
    opacity: 0;
    transition: all 200ms ease-in-out;
    &:hover {
      opacity: 1;
    }
  }